<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <HMS.My.MySettings>
            <setting name="userName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="passWord" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>HMS</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>ARNOLD-PC</value>
            </setting>
            <setting name="endDate" serializeAs="String">
                <value>2015-12-31</value>
            </setting>
            <setting name="closed" serializeAs="String">
                <value>False</value>
            </setting>
        </HMS.My.MySettings>
    </userSettings>
</configuration>
